#analytics-section {
    font-family: 'Arial', sans-serif;
    background-color: #E4E9F7;
    display: flex;
    justify-content: center;
    height: 100%;
    margin: 0;
}

#analytics-section .container {
    width: 80%;
    background: #fff;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

#analytics-section h2 {
    text-align: center;
    margin-bottom: 20px;
}

#analytics-section #refresh-button {
    display: block;
    margin: 10px auto 20px auto;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

#analytics-section #refresh-button:hover {
    background-color: #45a049;
}

#analytics-section table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#analytics-section th, td {
    padding: 10px;
    text-align: center; /* Center align text horizontally */
    vertical-align: middle; /* Center align text vertically */
    border: 2px solid #ddd;
}

#analytics-section th {
    background-color: #4CAF50;
    color: white;
}

.lay-hang-button {
    padding: 5px 10px;
    background-color: #ff9800;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.lay-hang-button:hover {
    background-color: #e68900;
}

.sub-table {
    width: 100%;
    border: 1px solid #ddd;
    margin-top: 10px;
    border-collapse: collapse;
}

.sub-table th, .sub-table td {
    border: 1px solid #ddd;
    padding: 5px;
    text-align: center; /* Center align text horizontally */
    vertical-align: middle; /* Center align text vertically */
}

.sub-table th {
    background-color: #f2f2f2;
}
